<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <a routerLink="/" class="text-white font-bold text-lg"
            >Kailas Mahipal M</a
          >
        </div>
      </div>
      <div class="hidden sm:block">
        <div class="ml-4 flex items-center space-x-4">
          <a
            routerLink="/home"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Home</a
          >
          <a
            routerLink="/about"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >About</a
          >
          <a
            routerLink="/contact"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Contact</a
          >
        </div>
      </div>
      <div class="flex sm:hidden">
        <button
          (click)="toggleMobileMenu()"
          class="text-white hover:text-gray-300 focus:outline-none focus:text-gray-300"
        >
          <i class="fas fa-bars fa-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="isMobileMenuOpen"
    class="fixed flex-col inset-0 flex items-center justify-center z-50 bg-white"
  >
    <div class="flex items-center justify-end mb-4">
      <button
        (click)="toggleMobileMenu()"
        class="text-gray-800 hover:text-gray-500 focus:outline-none focus:text-gray-500"
      >
        <i class="fas fa-times fa-lg"></i>
      </button>
    </div>
    <div class="p-4">
      <div class="flex flex-col items-center">
        <a routerLink="/home" (click)="closeMobileMenu()" class="nav-item"
          >Home</a
        >
        <a routerLink="/about" (click)="closeMobileMenu()" class="nav-item"
          >About</a
        >
        <a routerLink="/contact" (click)="closeMobileMenu()" class="nav-item"
          >Contact</a
        >
      </div>
    </div>
  </div>
</nav>
