<div class="container flex flex-col-reverse md:flex-row items-center gap-6">
  <!-- Content -->
  <div class="flex flex-1 flex-col items-center">
    <h2 class="text-3xl md:text-5xl text-center mb-6">
      Chemical Researcher and Aspiring PhD Candidate
    </h2>
    <p class="text-lg text-center mb-6">
      Hi, I'm Kailas Mahipal M. A passionate postgraduate chemist with a knack
      for research, seeking a PhD position to delve deeper into the fascinating
      world of chemistry.
    </p>
  </div>
  <!-- Image -->
  <div class="flex justify-center flex-1 mb-4">
    <img
      src="https://media.licdn.com/dms/image/D5603AQGPufI_UcNZ2A/profile-displayphoto-shrink_400_400/0/1674378487886?e=1691625600&v=beta&t=QD7Wnchp35_d8nxe2Z_Emi6S0bEPL1SqVvM51rK-MkY"
      alt="My Photo"
      class="rounded-full h-52 w-52 md:w-80 md:h-80 animate-amoeba border-gray-900 border-4"
    />
  </div>
</div>
<div class="flex item-center justify-center md:mt-6">
  <a
    href="https://www.linkedin.com/in/kailasmahipal/"
    target="_blank"
    rel="noopener noreferrer"
    title="Visit Linkedin"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-7 w-7"
      fill="currentColor"
      style="color: #0077b5"
      viewBox="0 0 24 24"
    >
      <path
        d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
      />
    </svg>
  </a>
  <a href="assets/CV-Kailas.pdf" title="Download CV" download>
    <img
      width="48"
      height="48"
      src="https://img.icons8.com/color/48/parse-from-clipboard.png"
      alt="parse-from-clipboard"
    />
  </a>
  <a
    href="https://scholar.google.com/citations?user=PUJOLEYAAAAJ&hl=en"
    target="_blank"
    rel="noopener noreferrer"
    title="View Citations"
  >
    <img
      width="48"
      height="48"
      src="https://img.icons8.com/color/48/google-scholar--v3.png"
      alt="google-scholar--v3"
    />
  </a>
  <a
    href="mailto:kailasmahipal@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    title="Email me"
  >
    <span class="fa fa-envelope"></span>
  </a>
</div>
